# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
/.project
/.settings
/aoc2022/.settings
/aoc2022/bin
/aoc2022/.classpath
/aoc2022/.project
/aoc2022/diagnostics.jfr